/* 引入 Poppins 字体 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
  font-size: 16px; /* 或 62.5% → 1rem = 10px */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:  no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;    /* 固定在页面顶部 */
    top: 0;
    left: 0;            /* 贴着左边 */
    width: 100%;        /* 宽度占满整个视口 */
    padding: 20px 100px;/* 内边距 内部元素与该部件保持距离 */
    /* background: red; */
    display: flex;      /* 使用 Flexbox 布局 方便横向布局 */
    justify-content: space-between;     /* 左右两端对齐，第一个元素靠左，最后一个元素靠右，中间的元素均匀分布 */
    align-items: center;/* 垂直居中对齐 */
    z-index: 99;        /* 确保 header 在其他内容之上 类似于层叠顺序 这里设置为第99层 */
}

.logo {
    color: #fff;
    font-size: 2em;
    user-select: none;  /* 禁止用户选中该文本 */
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: rgb(13, 39, 46);
}